@import 'main';


.section {
  width: 100%;
  min-height: 550px;
  margin-bottom: 30px;
  padding: 0;

  @media screen and (max-width: 800px) {
    height: auto;
  }
}

#main-page {
  @extend .section;
  z-index: -2;
  width: 100%;
  height: 600px;
  background: url(../images/phone-computer.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(20%);
}

#section-1 {
  @extend .section;

  width: 85%;
  @media screen and (max-width: 800px) {
    width: 95%;
    height: auto;
  }
}

.title-text {
  font-size: 3.2em;
  font-weight: bolder;
}

.text {
  font-size: 1.9em;
  line-height: 35px;
  vertical-align: middle;
  font-weight: lighter;

  max-width: 800px;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 7%;
  padding-left: 0;

  @media screen and (max-width: 800px) {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.2em;
    line-height: 30px;
  }
}

.text-left {
  @extend .text;
  margin-left: 6%;
  padding-right: 0;
  padding-left: 7%;
  @media screen and (max-width: 800px) {
    margin-top: 5%;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}

#section-2 {
  @extend .section;
  background-color: #ffffff;
  margin-bottom: 0;

  @media screen and (max-width: 800px) {
    height: auto;
    padding-bottom: 40px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 400px;
    margin-top: 10px;

    @media screen and (max-width: 800px) {
      width: 100%;
      height: 300px;
    }
  }

  .text {
  }
}

#section-21 {
  @extend #section-2;
  background-color: #80CBC4;
  margin-bottom: 0;
}

#section-22 {
  @extend #section-2;
  background-color: inherit;
  margin-bottom: 0;
}

#section-23 {
  @extend #section-2;
  background-color: #ffffff;
}

#section-3 {
  @extend .section;

  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 75%;
  @media screen and (max-width: 800px) {
    width: 95%;
  }
}

#contact {
  @extend .section;

  background-color: $secondary-color;
  margin-bottom: 0;
  color: #ffffff;
  padding: 3%;
}

#footer {
  @extend .section;

  margin: 0;
  padding: 0;
  height: 80px;
  min-height: 80px;
  background-color: #212121;
  text-align: center;
  color: #919191;
}


.black-cover {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #000000;
  opacity: 0.6;
  z-index: -2;
}

.title {
  height: 100%;
  text-align: center;
  vertical-align: 100%;
  z-index: 2;
  opacity: 1;
  color: #ffffff;

  div {
    padding-top: 15%;

    h1 {
      font-size: 6em;
      font-weight: bold;
    }

    @media screen and (max-width: 800px) {
      padding-top: 40%;
    }
  }
}

.shadow-z-1 {
  box-shadow:
  0 1px 6px 0 rgba(0, 0, 0, 0.12),
  0 1px  6px 0 rgba(0, 0, 0, 0.12);
}

.shadow-z-1-hover {
  box-shadow:
  0 5px 11px 0 rgba(0, 0, 0, 0.18),
  0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-z-2 {
  box-shadow:
  0 8px 17px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-3 {
  box-shadow:
  0 12px 15px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-4 {
  box-shadow:
  0 16px 28px 0 rgba(0, 0, 0, 0.22),
  0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.shadow-z-5 {
  box-shadow:
  0 27px 24px 0 rgba(0, 0, 0, 0.2),
  0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.simple-card {
  background-color: #ffffff;
  margin: 3px;
  margin-bottom: 5%;
  margin-right: 1%;
  margin-left: 1.4%;
  padding: 5px;
  height: 420px;

  @media screen and (max-width: 800px) {
    display: block;
    min-height: 300px;
    height: auto;
    width: 93%;
    margin-right: 3%;
    margin-left: 3%;

  }

  .icon-circle--large {
    position: relative;

  }

  &:hover {
    @extend .shadow-z-2;
    animation-name: elevate;
    animation-duration: 0.3s;
  }

  h2 {

  }

  p {
    padding: 20px;
    font-size: 1.5em;
    height: 50%;

    @media screen and (max-width: 800px) {
      height: auto;

      @media screen and (orientation: portrait) {

      }
    }

    span {
      font-weight: bolder;
    }
  }

  span {

  }
}

@keyframes elevate {
  from {
    box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 1px  6px 0 rgba(0, 0, 0, 0.12);
  }
  to {
    box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.card-icon {
  position: relative;
  top: 100%;
  height: 30%;
  width: 30%;

  .icon {
  }
}

.social-icon-list {
  img {
    &:hover{
      @extend .shadow-z-1;
    }
  }
}

#section-3 .row {

  .col-md-6 {
    @media screen and (max-width: 800px) {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #d9d9d9;
    }

    div {
      margin-bottom: 15px;

      @media screen and (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 15px;
      }
    }

    .social-icon-list {
      @media screen and (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 30%;
      }
    }
  }


}

.team-member {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  img {
    width: 170px;
    height: 150px;
    float: left;

    @media screen and (max-width: 800px) {
      width: 120px;
      height: 100px;
      margin-left: auto;
      margin-right: 2%;
      margin-top: 0;
    }
  }

  p {
    padding-top: 15px;
    font-size: 1.3em;

    @media screen and (max-width: 800px) {
      padding-top: 0;
    }

    .name {
      font-size: 1.5em;
      font-weight: bold;
    }
    .job {
      font-style: italic;
    }
  }
}

.contact-input {
  display: inline;
  width: 46%;
  margin-right: 15px;
  float: left;
}

.contact-form form {
  color: #ffffff;
  p {
    font-size: 1.8em;
    font-weight: bolder;
  }

  input, textarea {
    padding: 10px;
    color: #f8f8f8;
    border-radius: 6px;
    background-color: $primary-color;
  }
}

.social-network {
  p {
    font-size: 1.8em;
    font-weight: bolder;
  }
  img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
}
